.btn {
    border-radius: 22px;
    font-family: 'NissanBrandRegular', Verdana, Arial, sans-serif;
    font-size: 15px;
    padding: 10px 20px;

    svg {
        width: 25px;
        margin-bottom: 4px;
        margin-left: 8px;
        transition: all .2s ease-in-out;
    }
}
.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;

    .cls-1 {
        fill: $white;
    }

    &:hover {
        background-color: $white;
        border: 1px solid $black;
        color: $black;


        .cls-1 {
            fill: $secondary;
        }

        svg {
            margin-left: 12px;
        }
    }
}
.btn-outline-secondary {
    background-color: $white;
    border: 1px solid $secondary;
    height: fit-content;

    .cls-1 {
        fill: $secondary;
    }

    &:hover {
        background-color: $secondary;
        border: 1px solid $secondary;
        color: $white;

        svg {
            margin-left: 12px;
        }

        .cls-1 {
            fill: $red;
        }
    }

}

.btn-sq-primary {
    background: $red;
    border-radius: 0;
    color: $white;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    padding: 15px 15px 15px 30px;

    svg {
        width: 17px;
    }

    &:hover {
        background: $dark-red !important;
        color: $white;
    }
}

.btn-outline-light {
    svg {
        .cls-1 {
            fill: $white;
        }
    }

    &:hover {
        background: $primary;
        border: 1px solid $primary;
        color: $white;
    }
}