.footer {
    background: $secondary;
    margin-top: 100px;
    padding-top: 75px;

    h2 {
        letter-spacing: 1px;
    }

    h2, p, a {
        font-size: 15px;
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            font-family: $font-bold;
        }
    }

    .find-dealers button {
        width: 191px;
    }

    .links a {
        padding-bottom: 15px;
    }

    .copyright a {
        font-family: $font-bold;
    }

}

@media (max-width: 768px){
    .footer {
        padding-top: 0px;
        padding-bottom: 250px;
    }
}