/* Carousel */
.header-carousel {
    .carousel-control-prev, .carousel-control-next {
        width: 5%;
    }

    .btn-light {
        margin-top: -100px;
        position: absolute;
        right: 50px;

        .cls-1 {
            fill: $primary;
        }
    }

}

/* Why Value Advantage */
.why-va {
    img {
        max-height: 85px;
    }
}