/* Carousel */
.header-carousel {
    .carousel-control-prev, .carousel-control-next {
        width: 5%;
    }

    .btn-light {
        border: 0;
        margin-top: -100px;
        position: absolute;
        right: 50px;

        .cls-1 {
            fill: $secondary;
        }

        &:hover {
            background: $primary;
            border: 0;
            color: $white;

            .cls-1 {
                fill: $white;
            }
        }
    }

    @media (max-width: 991px){
        .btn-light {
            right: 5px;
            bottom: 20px;
        }
    }

    @media (max-width: 768px){
        .btn-light {
            right: -2px;
            bottom: -8px;
            font-size: 11px;
            padding: 5px 10px;

            svg {
                width: 16px;
                margin-bottom: 2px;
            }
        }
        .carousel-indicators {
            margin-bottom: 0px;
        }
    }


}

/* Why Value Advantage */
.why-va {
    img {
        max-height: 85px;
    }
}

/* Video */
.video {
    .btn {
        margin-top: -100px;
        border: 0;

        .cls-1 {
            fill: $secondary;
        }

        &:hover {
            background: $secondary;
            border: 0;
            color: $white;

            .cls-1 {
                fill: $primary;
            }
        }
    }
}

@media (max-width: 768px){
    .video {
        .btn {
            font-size: 11px;
            margin-top: -65px;
            padding: 5px 10px;

            svg {
                width: 16px;
                margin-bottom: 2px;
            }
        }
    }
}