/* Carousel */
.header-carousel {
    .carousel-control-prev, .carousel-control-next {
        width: 5%;
    }

    .btn-light {
        margin-top: -100px;
        position: absolute;
        right: 50px;

        .cls-1 {
            fill: $secondary;
        }
    }

    @media (max-width: 991px){
        .btn-light {
            right: 5px;
            bottom: 20px;
        }
    }

}

/* Why Value Advantage */
.why-va {
    img {
        max-height: 85px;
    }
}

/* Video */
.video {
    .btn {
        margin-top: -100px;

        .cls-1 {
            fill: $secondary;
        }

        &:hover {
            .cls-1 {
                fill: $primary;
            }
        }
    }
}