/* Logos */
.nissan-va {
    max-width: 200px;
}
@media (max-width: 767px) {
    .nissan-va {
        max-width: 130px;
    }
}
/* General Nav Styling */

.nav-link {
    color: $secondary;
    font-family: $font-family-base;

    svg {
        width: 15px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    
    &:hover {
        color: $secondary;
    }
}

.top-bar {
    li {
        padding-left: 10px;
    }
    .nav-link {
        border-bottom: 4px solid $white;
        color: $secondary;
        font-size: 16px;

        &:hover, &.show {
            color: $secondary;
            border-bottom: 4px solid $primary;
        }
    }

    .dropdown-menu.standard {
        background: $light-gray;
        padding: 15px 15px 5px 15px;
    }
    
    .btn-primary {
        min-width: 177px;
        text-align: left;
    }
}

.secondary-bar { 
    .nav-link {
        border-bottom: 4px solid $white;
        color: $secondary;
        font-size: 15px;
        padding: 0 20px 20px 20px !important;

        &:hover, &.show{
            color: $secondary;
            border-bottom: 4px solid $primary;
            font-family: $font-bold;
        }
    }

    .btn-outline-secondary {
        min-width: 191px;
        text-align: left;
    }
}
@media ( min-width: 1250px ){
    .secondary-bar .navbar-nav {
        padding-right: 25px;
    }
}

//account for heavy font hover shift
.make, .parts {
    min-width: 160px;
}
.year {
    min-width: 152px;
}
.model {
    min-width: 166px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    font-family: $font-light;

    &:focus, &:hover {
        background-color: unset;
        font-family: $font-bold;
    }
}


@media (min-width: 1199px) {
    // Trigger dropdown on hover
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .secondary-bar {
        .dropdown:hover .nav-link {
            color: $secondary;
            border-bottom: 4px solid $primary;
            font-family: $font-bold;
        }
    }

    .top-bar {
        .dropdown:hover .nav-link {
            color: $secondary;
            border-bottom: 4px solid $primary;
        }
    }
}
.search {
    .form-control {
        border: 1px solid $black;
        border-radius: 0;
        font-family: $font-family-base;
        font-size: 14px;
        height: 39px;
        width: 210px;
    }
    .btn {
        min-width: 150px;
        text-align: left;
        border: 0 !important;

        &:active, &:hover{
            border: 0;
            font-family: $font-bold;

            svg {
                margin-left: 20px;
            }
        }

       svg {
        margin-left: 15px;
       }

        &:hover {
            .cls-1 {
                fill: $red;
            }
        }

        .cls-1 {
            fill: $secondary;
        }
    }
}

/* Mega Menu */
.navbar .megamenu{ 
    border: none;
    padding: 1rem;
    z-index: 99;
 }

@media (min-width: 1199px) {

  .navbar .has-megamenu {position:static!important;}
  .navbar .megamenu {
      border: none;
      border-radius: 0px;
      left:0; 
      margin-left: 80px !important;
      margin-top: 0;
      margin-top:0;
      padding: 40px 75px;
      right:0; 
      max-width: 1000px;
}
    .secondary-col {
        padding-top: 64px;
    }
}	

/* --Mega dropdown -- **/
.col-megamenu {
    h2 {
        border-bottom: 1px solid $black;
        font-family: $font-family-base;
        font-size: 18px;
        margin-bottom: 30px;
        max-width: 150px;
        padding-bottom: 10px;
    }

    li {
        font-family: $font-light;
        font-size: 16px;
        padding-bottom: 20px;

        a {
            color: $secondary;
            text-decoration: none;

            &:hover {
                font-family: $font-bold;
            }
        }
    }
}
/* Reg Dropdown */
.dropdown-menu.standard {
    border-radius: 0;
    border: none;
    padding: 30px 30px 30px 40px;
    margin-left: 0px;
    max-height: 400px;

    &.overflow {
        overflow-y: scroll;
    }

    li {
        padding-bottom: 12px;
        min-width: 180px;
    }
}
.dropdown-menu[data-bs-popper] {
    margin-top: 0px;
    margin-left: 0px;
}
.navbar-nav > ul.dropdown-menu:nth-of-type(1) {
    margin-left: 34px;
}

/* Search box */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaaaa;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaaaaa;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaaaaa;
}
.btn.search-btn {
    padding: 7px 20px 10px 20px;
}

/* Mobile */

.navbar-toggler {
    border: none;
    margin-bottom: 15px;
}

@media (max-width: 1250px) {
    .secondary-bar .nav-link {
         padding: 0 10px 20px 10px !important;
     }
     .search .btn {
        font-size: 14px;
        min-width: 128px;

        svg {
            margin-left: 8px;
        }

        &:hover svg {
            margin-left: 8px;
        }
     }
 }
 
@media (max-width: 991px) {
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
        overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
  }
    .secondary-col {
        margin-top: 0px;
    }
    .navbar .megamenu {
        margin-left: 0;
        overflow-y: scroll;
        padding: 30px 30px 30px 15px !important;
    }
}

@media (max-width: 1200px) {
    .dropdown-toggle.show {
        svg{
            transform: rotate(90deg);
        }
    }
    .dropdown-menu.standard {
        margin-left: 0;
        max-height: unset;
        padding-left: 0;
    }

    .secondary-bar {
        .nav-link {
            display: flex;
            justify-content: space-between;
        }
        .nav-item {
            padding: 15px 0 20px 15px;
        }
    }

    .search {
        margin-left: 25px;
    }
    .btn-outline-secondary {
        margin: 25px 0 50px 25px !important;
    }
}