/* Logos */
.nissan-va {
    max-width: 200px;
}
@media(max-width: 1213px){
    // .nissan-va {
    //     max-width: 100px;
    // }
}
/* General Nav Styling */

.nav-item {
    padding: 0 10px;
}

.nav-link {
    color: $secondary;
    font-family: $font-family-base;

    svg {
        width: 15px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    
    &:hover {
        color: $secondary;
    }

}

.top-bar {
    .nav-link:hover {
        color: $secondary;
    }
}

.secondary-bar { 
    .nav-link {
        border-bottom: 4px solid $white;
        color: $secondary;
        padding: 0 20px 20px 20px !important;

        &:hover, &.show {
            color: $secondary;
            border-bottom: 4px solid $primary;
            font-family: $font-bold;
        }
    }

}

.dropdown-toggle::after {
    display: none;
}


.search {
    .form-control {
        border: 1px solid $black;
        border-radius: 0;
        font-family: $font-family-base;
        font-size: 16px;
        height: 48px;
        width: 210px;
    }
    .btn {
       svg {
        margin-left: 20px;
       }

        &:hover {
            // background-color: $secondary;
            // border: 1px solid $secondary;
            // color: $white;
    
            .cls-1 {
                fill: $red;
            }
        }

        .cls-1 {
            fill: $secondary;
        }
    }
}

.vert-divider {
    border-right: 1px solid #aaaaaa;
    height: 50px;
    margin-top: -14px;
}


/* Mega Menu */
.navbar .megamenu{ padding: 1rem; }

@media all and (min-width: 992px) {

  .navbar .has-megamenu {position:static!important;}
  .navbar .megamenu {
      border: none;
      border-radius: 0px;
      left:0; 
      margin-left: 25px;
      margin-top: 0;
      margin-top:0;
      padding: 40px 75px;
      right:0; 
      width: 90%;
}
    .secondary-col {
        padding-top: 64px;
    }
}	
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
  .secondary-col {
        margin-top: 0px;
    }
}


/* Dropdown */
.col-megamenu {
    h2 {
        border-bottom: 1px solid $black;
        font-family: $font-family-base;
        font-size: 18px;
        margin-bottom: 30px;
        max-width: 150px;
        padding-bottom: 10px;
    }

    li {
        font-family: $font-light;
        font-size: 16px;
        padding-bottom: 20px;

        a {
            color: $secondary;
            text-decoration: none;

            &:hover {
                font-family: $font-bold;
            }
        }
    }
}

/* Search box */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaaaa;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaaaaa;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaaaaa;
}