//Variables

$red: #c3002f !important;
$primary: $red;
$secondary: #000000;
$light: #ffffff;

$nav-link-color: $secondary;
$nav-link-hover-color: $secondary;
$nav-link-font-size: 16px;

$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 1080px,
  xl: 1600px,
  xxl: 1920px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 540px,
  md: 768px,
  lg: 1080px,
  xl: 1600px,
  xxl: 1920px
) !default;

$font-family-base: 'NissanBrandRegular', Verdana, Arial, sans-serif;
$font-family-sans-serif: 'NissanBrandRegular', Verdana, Arial, sans-serif;
$btn-font-family: 'NissanBrandRegular', Verdana, Arial, sans-serif;
$headings-font-family: 'NissanBrandRegular', Verdana, Arial, sans-serif;
$font-bold: 'NissanBrandBold', Verdana, Arial, sans-serif;
$font-light: 'NissanBrandLight', Verdana, Arial, sans-serif;