// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "_variables.scss";

.btn {
    border-radius: 22px;
    padding: 10px 20px;
}
.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;

    &:hover {
        background-color: $white;
        border: 1px solid $black;
        color: $black;
    }
}
.btn-outline-secondary {
    background-color: $white;
    border: 1px solid $secondary;
    height: fit-content;

    &:hover {
        background-color: $secondary;
        border: 1px solid $secondary;
        color: $white;
    }
} 

.container {
    max-width: 1500px;
}